/* apply a natural box layout model to all elements, but allowing components to change */
/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  overflow: hidden;
}

body {
  position: relative;
}

canvas {
  z-index: 1;
  display:block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
